.profile-card {
    height: 20rem;
    width: 100%;
    background-color: #3E404ECC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    border-radius: 8px;
    flex-direction: row;
}

.text-content {
    width: 50%;
    padding: 20px;
}

.h {
    color: #FFFFFFCC;
    padding: 0%;
    font-size: 35px;
    margin: 0px;
}

.ello {
    padding: 0%;
    font-size: 25px;
}

.name {
    color: #FFFFFF;
    font-size: 40px;
    margin: 0px;
    padding: 0px;
}

.description {
    color: #B2D4FE;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.buttons button {
    background-color: #F6EFE7;
    color: #41464F;
    margin-top: 10px;
}

.image {
    display: flex;
    justify-content: center;
    margin-right: 80px;
    background: radial-gradient(68.94% 68.94% at 68.94% 25.47%, #FCB258 0%, white 100%);
    border-radius: 100%;
}

.image img {
    width: 80%;
    height: 80%;
    border-radius: 100%;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .profile-card {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .text-content {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .name {
        font-size: 30px;
    }

    .description {
        display: none;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }

    .image {
        order: -1;
        margin: 40px 0;
        margin-right: 0;
    }

    .image img {
        width: 140px;
        height: 140px;
    }
}
